<!DOCTYPE html>
<html lang="en">
<head>
    <title>404</title>
    {{> "head.hbs"}}
</head>
<body style="background: url('/img/Solid-polymeric-foam.jpg'); background-size: cover">
<main style="display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-end;">
    <div style="padding: 10px">
        <h1 style="text-shadow: 1px 1px #888; color: red">Ouch!</h1>
        <h2 style="text-shadow: 1px 1px #888;">Something bad has happened.</h2>
    </div>
    <div style="text-shadow: 1px 1px #888; font-size: 0.8rem">
        <a href="https://commons.wikimedia.org/wiki/File:Solid-polymeric-foam.jpg">Giovanna Canu, Eva Santini</a>, <a
            href="https://creativecommons.org/licenses/by/4.0">CC BY 4.0</a>, via Wikimedia Commons
    </div>
</main>

{{> "molecule/footer.hbs" }}
</body>
</html>