<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background: url('/img/logo.png')">
<h1>Welcome</h1>
{{> atom/testPartial.hbs name="solid memory" serving=true }}
</body>
</html>