<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welcome</title>
    {{> "head.hbs"}}
</head>
<body>
<main>
    {{> "atom/testPartial.hbs" name="solid memory" serving=true }}
</main>
{{> "molecule/footer.hbs" }}
</body>
</html>