<a class="button"
        href="{{href}}"
        {{#if id}}
            id="{{id}}"
        {{/if}}
        {{#if downloadFile}}
            download="{{downloadFile}}"
        {{/if}}
>
    {{> @partial-block }}
</a>
