<form id="download-pdf" method="post" enctype="multipart/form-data" action="/docs/{{ id }}/download">
    <button type="submit" class="button">
        Download
    </button>
    <input type="hidden" name="visitor" value="{{visitor}}">
</form>