<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just a moment</title>
    {{> "head.hbs"}}
    <style>
        #id-form {
            display: block;
            margin: 1rem auto 1rem auto;
            max-width: 600px;
            padding: 1em;
            -webkit-transition: opacity 0.2s 0.2s ease;
            -moz-transition: opacity 0.2s 0.2s ease;
            -o-transition: opacity 0.2s 0.2s ease;
            transition: opacity 0.2s 0.2s ease;
            opacity: 0;
        }
    </style>
</head>
<body onload="document.getElementById('id-form').style.opacity=1">
<main>
    <div id="id-form">
        <p>
            Please enter your email to get access.
            {{#with accessRule}}
                {{#if owner }}
                    Your data will only be shared with {{owner}}.
                {{/if}}
            {{/with}}
        </p>
        <form method="post" enctype="multipart/form-data" action="/{{ id }}">
            <label>
                email:
                <input type="email" name="id">
            </label>
            <button type="submit">SEND</button>
        </form>
    </div>

</main>
{{> "molecule/footer.hbs" }}
</body>
</html>