<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just a moment</title>
    <script src="/js/pdfjs-3.1.81-dist/pdf.js"></script>
    {{> "head.hbs"}}
    <style>
        #id-form {
            margin: 0 auto 1rem auto;
            -webkit-transition: opacity 0.2s 0.2s ease;
            -moz-transition: opacity 0.2s 0.2s ease;
            -o-transition: opacity 0.2s 0.2s ease;
            transition: opacity 0.2s 0.2s ease;
            opacity: 0;
            position: absolute;
            width: 100%;
            background: rgba(0, 0, 0, 0.5);
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 1rem 0;
            height: 90vh;
        }

        #id-form > div {
            max-width: 300px;
            background: white;
            padding: 1rem;
            border-radius: 10px
        }

        #id-form form {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        #id-form form fieldset {
            border: none;
        }
    </style>
</head>
<body onload="document.getElementById('id-form').style.opacity=1">
<main>
    <div id="id-form">
        <div>
            <p>
                Please enter your email to get access to the full document.
                {{#with accessRule}}
                    {{#if owner }}
                        Your data will only be shared with <b>{{owner}}</b>.
                    {{/if}}
                {{/with}}
            </p>
            <form method="post" enctype="multipart/form-data">
                <fieldset>
                    <label>
                        E-Mail:
                        <input required type="email" pattern="^.*@.*\..*$" name="visitor"
                               onchange="document.getElementsByTagName('form')[0].action='/{{ id }}'">
                    </label>
                </fieldset>
                <fieldset>
                    <label>
                        <input type="checkbox" name="consentTo" value="true">
                        Send me monthly updates
                    </label>
                </fieldset>
                {{#if formKey}}
                    <input type="hidden" name="key" value="{{formKey.key}}">
                    <input type="hidden" name="hash" value="{{formKey.hash}}">
                {{/if}}
                <button type="submit">GO!</button>
            </form>
        </div>

    </div>
    <div style="max-height: 100vh; overflow: hidden">
        {{> organism/pdfCanvas.hbs}}
    </div>
</main>
<div style=" position: absolute;
            bottom: 0;
            width: 100%;">
    {{> "molecule/footer.hbs" }}
</div>
</body>
</html>