<!DOCTYPE html>
<html lang="en">
<head>
    <title>Just a moment</title>
    <script src="/js/pdfjs-3.1.81-dist/pdf.js"></script>
    {{> "head.hbs"}}
    <style>
        #id-form {
            display: block;
            margin: 0 auto 1rem auto;
            padding: 0 0.5rem;
            max-width: 600px;
            -webkit-transition: opacity 0.2s 0.2s ease;
            -moz-transition: opacity 0.2s 0.2s ease;
            -o-transition: opacity 0.2s 0.2s ease;
            transition: opacity 0.2s 0.2s ease;
            opacity: 0;
        }

        #id-form form {
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }

        #id-form form fieldset {
            border: none;
        }
    </style>
</head>
<body onload="document.getElementById('id-form').style.opacity=1">
<main>
    <div id="id-form">
        <p>
            Please enter your email to get access to the full document.
            {{#with accessRule}}
                {{#if owner }}
                    Your data will only be shared with {{owner}}.
                {{/if}}
            {{/with}}
        </p>
        <form method="post" enctype="multipart/form-data" action="/{{ id }}">
            <fieldset>
                <legend>required</legend>
                <label>
                    E-Mail:
                    <input type="email" name="visitor">
                </label>
            </fieldset>
            <fieldset>
                <legend>optional</legend>
                <label>
                    <input type="checkbox" name="consentToMonthlyUpdates" value="true">
                    Please send me monthly updates
                </label>
            </fieldset>
            <button type="submit">SEND</button>
        </form>
    </div>
    <div style="width: 50%;margin: 0 auto;padding: 1%;background: #c7c7c7;">
        {{> organism/pdfCanvas.hbs}}
    </div>
</main>
{{> "molecule/footer.hbs" }}
</body>
</html>