<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doc</title>
    <script src="/js/pdfjs-3.1.81-dist/pdf.js"></script>
    {{> "head.hbs" }}
    <style>
        header {
            position: fixed;
            color: white;
            background: black;
            width: 100%;
            padding: 5px;
            display: flex;
            justify-content: center;
            align-items: baseline;
            gap: 1%;
        }
    </style>
</head>
<body>
<header>
    <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span>
    {{#> atom/button.hbs id="prev" }}
        Previous
    {{/ atom/button.hbs }}
    {{#> atom/button.hbs id="next"}}
        Next
    {{/ atom/button.hbs }}
    {{> organism/pdfDownload.hbs}}
</header>
<main>
    <div style="width: 98%; margin: 0; padding: 1%; background: #c7c7c7; padding-top:3em">
        {{> organism/pdfCanvas.hbs}}
    </div>

</main>
{{> "molecule/footer.hbs" }}
</body>
</html>