<footer>
    <span><b>xyz.cc</b> is a service of the headissue GmbH</span>
    <a href="https://www.headissue.com/imprint.html">Imprint</a>
    <a href="https://www.headissue.com/contact.html">Contact</a>
</footer>

<style>
    footer {
        background: #25303a;
        color: white;
        display: flex;
        justify-content: center;
        gap: 5%;
        padding: 1rem;
        position: relative;
        margin-top: auto;
    }
    footer a {
        color: #eb5d10;
        text-decoration: none;
    }
</style>